div.contact {
    height: 200px;
    width: 100%;
    background-color: rgb(153, 238, 17);
}

div.subcontact {
    padding-left: 40%;
    padding-top: 3%;
    font-size: 50px;
}

div.row {
    margin-right: 0px !important;
}

.cont {
    padding-right: 30px;
}

.img1 {
    height: 160px;
    width: 170px;
    margin-left: 130px;
    border-radius: 50%;
}